NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mazzi
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
PAYMENT_PROVIDER=fake
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
